.nav
{
    border: none;
    width: 200%;
    height:10%;
    padding:40px;
    position: static;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(75, 17, 70);
    background: linear-gradient(90deg,rgb(94, 20, 89)0%,rgb(118, 36, 121)100%);
}