<div class="bg">
    <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="text-center">
                <h1>Signup</h1>
              </div>
                <form>
                    <div class="mb-3">
                    <label for="exampleInputname" class="form-label">Name</label><br>
                    <input formControlName="name" type="text" class="form-control" id="exampleInputname" >
                  </div><br>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label><br>
                    <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1">
                  </div><br>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label><br>
                    <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                  </div><br>
                  <button type="submit" class="btn btn-primary mb-2">Signup</button>
                </form>
                <a style="color:white; margin-top:10px" routerLink="/login">Already have a account? Click to Login</a>
              
            </div>
          </div>
        </div>
      </div>
</div>
  